.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;

  border: 1px solid red;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0px 80px;
  }
}
