.btn {
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  border: 3px solid var(--bg-color);
  border-radius: 3px;
  padding: 11px 24px;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0 0 4px 0 var(--bg-color);
  text-transform: uppercase;
  transition: all var(--transition);
  position: relative;
  overflow: hidden;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.btn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    var(--shadow)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.btn:hover,
.btn:focus {
  background-color: var(--bg-color_hover);
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--shadow);
}

.btn:hover::before,
.btn:focus::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(130%);
}
