.btn {
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  border-radius: 3px;
  padding: 11px 24px;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0 0 4px 0 var(--bg-color);
  text-transform: uppercase;
  transition: background-color var(--transition);
}
.btn:hover,
.btn:focus {
  background-color: var(--bg-color_hover);
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
