.burgerBtn {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  @media screen and (min-width: 1440px) {
    display: none;
  }
}
.burgerBtn::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    var(--shadow)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.burgerBtn:hover,
.burgerBtn:focus {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--shadow);
}

.burgerBtn:hover::before,
.burgerBtn:focus::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.icon {
  fill: #e7f7f8;
  position: relative;
  z-index: 2;
}
