:root {
  --main-bg_color: #030718;
  --bg-color: #57e1ff;
  --bg-color_hover: #0ac8f3;
  --text-color: #fff;
  --purple: #6a54ff;
  --grey-color: #030718;

  --error-color: rgb(250, 59, 59);
  --shadow: rgba(197, 233, 233, 0.3);
  --transition: 250ms ease-in-out;
}
