/*CHANGE TO YOUR FONTS*/

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./IBMPlexSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./IBMPlexSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'IBMPlexSans';
  src: url('./IBMPlexSans-Bold.ttf');
  font-weight: 700;
}
