.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1200;
  inset: 0;
  opacity: 0;
  transition: opacity var(--transition);
}
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  min-width: 320px;
  width: 375px;

  position: relative;
  max-height: 100vh;
  padding: 16px;
  background-color: var(--purple);
  transform: scale(0.9) rotate(-360deg);
  opacity: 0;
  transition: all 0.5s ease;
}
.modal.active {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

.close_btn {
  fill: var(--text-color);
  transition: fill var(--transition);
  position: absolute;
  top: 9px;
  right: 11px;
}
.close_btn:focus,
.close_btn:hover {
  fill: var(--bg-color);
}
