.nav {
  font-size: 24px;
  line-height: 1.21;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}
.hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.link {
  transition: color var(--transition);
}
.link:hover,
.link:focus {
  color: var(--bg-color_hover);
}
@media screen and (min-width: 1440px) {
  .nav {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    opacity: 0.7;
  }
  .hidden {
    position: static;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
